#start {
    background: url(../media/IMG/start/start_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
}

#timo_s {
    background: url(../media/IMG/start/timo_s.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 70%;
    left: -22.5%;
    width: 45%;
    height: 60%;
    z-index: 23;
    -webkit-animation: rotacion_st_l 15s infinite linear;
    -moz-animation: rotacion_st_l 15s infinite linear;
    animation: rotacion_st_l 15s infinite linear;
    transform-origin: center;
}

#timo_s_2 {
    background: url(../media/IMG/start/timo_s_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 70%;
    left: 77.5%;
    width: 45%;
    height: 60%;
    z-index: 23;
    transform: scaleZ(-1);
    -webkit-animation: rotacion_st 15s infinite linear;
    -moz-animation: rotacion_st 15s infinite linear;
    animation: rotacion_st 15s infinite linear;
    transform-origin: center;
}

#op_bar{
    background: url(../media/IMG/start/op_bar.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 89%;
    width: 100%;
    height: 12%;
    z-index: 22;
}

.rp_face_s{
    background: url(../media/IMG/start/face.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 43%;
    left: 44%;
    width: 12%;
    height: 24%;
    z-index: 10;
}

.op_title{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 35px;
}

@keyframes rotacion_st {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes rotacion_st {from {transform: rotate(0deg);}to {transform: rotate(-360deg)}}
@-moz-keyframes rotacion_st {from {transform: rotate(0deg);}to {transform: rotate(-360deg)}}
@keyframes rotacion_st_l {from {transform: rotate(0deg);}to {transform: rotate(360deg)}}

#endincet {
    background: url(../media/IMG/start/start_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 75%;
    left: 38.3%;
    width: 23.5%;
    height: 9.1%;
    z-index: 15;
}

#endincet_a {
    position: fixed;
    top: 75%;
    left: 38.5%;
    width: 23%;
    height: 8%;
    z-index: 19;
}

.op_bar_i {
    background: url(../media/IMG/props/info_button.png);
    background-size: contain;
    background-repeat: no-repeat;   
    position: fixed;
    top: 92.2%;
    left: 27%;
    width: 4%;
    height: 5.1%;
    z-index: 22;
}

.op_bar_ig {
    display: none;
    background: url(../media/IMG/props/info_button_g.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 27%;
    width: 4%;
    height: 5.1%;
    z-index: 22;
}

.op_bar_g {
    background: url(../media/IMG/props/Compass_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 91.5%;
    left: 37.6%;
    width: 4%;
    height: 6%;
    z-index: 23;
}

.op_bar_gg {
    display: none;
    background: url(../media/IMG/props/brujola_g.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 91.5%;
    left: 37.6%;
    width: 4%;
    height: 6%;
    z-index: 22;
}

.op_bar_o {
    background: url(../media/IMG/props/debat_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 48.2%;
    width: 4%;
    height: 5%;
    z-index: 23;
}

.op_bar_og {
    display: none;
    background: url(../media/IMG/props/debat_button_g.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 48.2%;
    width: 4%;
    height: 5%;
    z-index: 22;
}

.op_bar_c {
    background: url(../media/IMG/props/engrenatge.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 58.8%;
    width: 4%;
    height: 5%;
    border-radius: 50%;
    z-index: 23;
}

.op_bar_cg {
    display: none;
    background: url(../media/IMG/props/engrenatge_g.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 58.8%;
    width: 4%;
    height: 4.9%;
    border-radius: 50%;
    z-index: 22;
}

.op_bar_d {
    background: url(../media/IMG/props/float_button.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 69.3%;
    width: 4%;
    height: 5%;
    z-index: 23;
}

.op_bar_dg {
    display: none;
    background: url(../media/IMG/props/float_button_g.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 92.2%;
    left: 69.3%;
    width: 4%;
    height: 5%;
    z-index: 22;
}

#loadpage {
    display: none;
    background: url(../media/IMG/start/load_page.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 18;
}

#load_water_d {
    background: url(../media/IMG/start/load_page_d.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 55.5%;
    left: 22.5%;
    width: 55%;
    height: 20.5%;
    z-index: 18;
}

#light_lh {
    background: url(../media/IMG/start/load_lh_light.png);
    position: fixed;
    top: 27%;
    left: 17.5%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    width: 65%;
    height: 20%;
    -webkit-animation: opacf 7s infinite linear;
    -moz-animation: opacf 7s infinite linear;
    animation: opacf 7s infinite linear;
}


@keyframes opacf {
    0% { opacity: 1} 50% {opacity: 0}100% {opacity: 1}}
@-moz-keyframes opacf {
    0% { opacity: 1} 50% {opacity: 0}100% {opacity: 1}}
@-webkit-keyframes opacf {
    0% { opacity: 1} 50% {opacity: 0}100% {opacity: 1}}


#load_water {
    background: url(../media/IMG/start/load_water.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: fixed;
    top: 57.7%;
    left: 24.3%;
    width: 0px;
    height: 6%;
    z-index: 19;
    -webkit-transition: all 5s linear;
    -moz-transition: all 5s linear;
    transition: all 5s linear;
}

#dp_s {
    display: none;
    background: url(../media/IMG/c1/props/dofi_petit.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    transform-origin: center bottom;
    top: 56%;
    left: 32%;
    width: 4%;
    height: 6%;
    z-index: 17;
    -webkit-animation: dp_s 3s linear;
    -moz-animation: dp_s 3s linear;
    animation: dp_s 3s linear;
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
    transform: rotate(-200deg);
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#dp_s_2 {
    display: none;
    background: url(../media/IMG/c1/props/dofi_petit.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    transform-origin: center bottom;
    top: 56%;
    left: 42%;
    width: 4%;
    height: 6%;
    z-index: 17;
    -webkit-animation: dp_s 3s linear;
    -moz-animation: dp_s 3s linear;
    animation: dp_s 3s linear;
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
    transform: rotate(-200deg);
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#dp_s_3 {
    display: none;
    background: url(../media/IMG/c1/props/dofi_petit.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    transform-origin: center bottom;
    top: 56%;
    left: 65%;
    width: 4%;
    height: 6%;
    z-index: 17;
    -webkit-animation: dp_s 3s linear;
    -moz-animation: dp_s 3s linear;
    animation: dp_s 3s linear;
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
    transform: rotate(-200deg);
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes dp_s {0% {transform: rotate(-200deg);}50% {transform: rotate(100deg);}60% {transform: rotate(180deg);}100% {transform: rotate(200deg);}}
@-moz-keyframes dp_s {0% {transform: rotate(-200deg);}50% {transform: rotate(100deg);}60% {transform: rotate(180deg);}100% {transform: rotate(200deg);}}
@keyframes dp_s {0% {transform: rotate(-200deg);}50% {transform: rotate(100deg);}60% {transform: rotate(180deg);}100% {transform: rotate(200deg);}}

.op_bar_i_m {
    background: url(../media/IMG/start/cdgio_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.op_bar_i_m_up {
    background: url(../media/IMG/start/info_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_i_s {
    background: url(../media/IMG/start/info_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.op_bar_i_s_up {
    background: url(../media/IMG/start/info_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_g_m {
    background: url(../media/IMG/start/cdgio_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_g_m_up {
    background: url(../media/IMG/start/cdgio_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_g_s {
    background: url(../media/IMG/start/cdgio_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_g_s_up {
    background: url(../media/IMG/start/cdgio_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_o_m {
    background: url(../media/IMG/start/opi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_o_m_up {
    background: url(../media/IMG/start/opi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_o_s {
    background: url(../media/IMG/start/opi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_o_phone_up {
    background: url(../media/IMG/start/phone_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.op_bar_o_phone {
    background: url(../media/IMG/start/phone_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;
}

.op_bar_o_s_up {
    background: url(../media/IMG/start/opi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_c_m {
    background: url(../media/IMG/start/confi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_c_m_up {
    background: url(../media/IMG/start/confi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_c_s {
    background: url(../media/IMG/start/confi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_c_s_up {
    background: url(../media/IMG/start/confi_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_d_m {
    background: url(../media/IMG/start/des_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 15;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_d_m_up {
    background: url(../media/IMG/start/des_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 20;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_d_s {
    background: url(../media/IMG/start/des_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_d_s_up {
    background: url(../media/IMG/start/des_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_a_s {
    background: url(../media/IMG/start/ancla_pag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0%;
    z-index: 10;    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.op_bar_a_s_up {
    background: url(../media/IMG/start/ancla_pag_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.go{
    position: fixed;
    top: 85%;
    left: 50%;
    width: 5%;
    height: 5%;
    z-index: 20;
}
.ob_d_back{
    display: none;
    background: url(../media/IMG/start/dow_pag_on.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ob_d_atoms{
    display: none;
    background: url(../media/IMG/start/dow_atoms.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#ob_d_atoms_click{
    position: absolute;
    top: 69%;
    left: 18%;
    width: 16%;
    height: 11%;
    z-index: 21;
    border-radius: 7%;
}
#ob_d_avelles_click{
    position: absolute;
    top: 69%;
    left: 35%;
    width: 15%;
    height: 11%;
    z-index: 21;
    border-radius: 7%;
}
#ob_d_nutri_click{
    position: absolute;
    top: 69%;
    left: 51%;
    width: 15%;
    height: 11%;
    z-index: 21;
    border-radius: 7%;
}
#ob_d_idiomes_click{
    position: absolute;
    top: 69%;
    left: 67%;
    width: 15%;
    height: 11%;
    z-index: 21;
    border-radius: 7%;
}

.ob_d_avelles{
    display: none;
    background: url(../media/IMG/start/dow_avelles.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ob_d_nutri{
    display: none;
    background: url(../media/IMG/start/dow_nutri.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ob_d_idiomes{
    display: none;
    background: url(../media/IMG/start/dow_idiomes.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.s_confi{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.s_confi_b{
    width: 100%;
    height: 100%;
    position: absolute;
}

.confi_n{   
    position: absolute;
    background: none;
    border: none;
    top: 23.6%;
    left: 24%;
    width: 16%;
    height: 2.7%;
    z-index: 10;
}

.confi_pc{
    position: absolute;
    background: none;
    border: none;
    top: 30.1%;
    left: 24%;
    width: 21%;
    height: 2.7%;
    z-index: 10;
}

.confi_sc{
    position: absolute;
    background: none;
    border: none;
    top: 36.7%;
    left: 24%;
    width: 21%;
    height: 2.7%;
    z-index: 10;
}

.confi_alies{
    position: absolute;
    background: none;
    border: none;
    top: 43.2%;
    left: 7%;
    width: 17%;
    height: 2.7%;
    z-index: 10;
}

.confi_mail{
    position: absolute;
    background: none;
    border: none;
    top: 43.2%;
    left: 28%;
    width: 17%;
    height: 2.7%;
    z-index: 10;
}

.confi_ce{
    position: absolute;
    background: none;
    border: none;
    top: 49.7%;
    left: 7%;
    width: 37%;
    height: 2.7%;
    z-index: 10;
}

.confi_c{
    border-color: rgba (1,1,1,0);
    position: absolute;
    background: #695767;
    border: none;
    top: 56.5%;
    left: 7%;
    width: 17%;
    height: 2.5%;
    z-index: 10;
}

.confi_g{
    position: absolute;
    background: none;
    border: none;
    top: 56.3%;
    left: 28%;
    width: 17%;
    height: 2.7%;
    z-index: 10;
}

.confi_ns{
    position: absolute;
    background: none;
    border: none;
    top: 68.5%;
    left: 21%;
    width: 21%;
    height: 2.7%;
    z-index: 10;
}

.confi_contra{
    position: absolute;
    background: none;
    border: none;
    top: 75%;
    left: 21%;
    width: 15%;
    height: 2.7%;
    z-index: 10;
}

.confi_ov{
    resize: none;
    position: absolute;
    background: none;
    border: none;
    top: 42%;
    left: 53%;
    width: 38%;
    height: 7.5%;
    z-index: 10;
    font: 400 13.3333px Arial;
}

.confi_op{
    resize: none;
    position: absolute;
    background: none;
    border: none;
    top: 61%;
    left: 53%;
    width: 38%;
    height: 4%;
    z-index: 10;
    font: 400 13.3333px Arial;
}

.blc{
    background: url(../media/IMG/start/debat_i_cat_on.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 21%;
    left: 52.7%;
    width: 8%;
    height: 11%;
    z-index: 11;
}

.ble{
    background: url(../media/IMG/start/debat_i_esp.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 21%;
    left: 63.8%;
    width: 8%;
    height: 11%;
    z-index: 11;
}

.bli{
    background: url(../media/IMG/start/debat_i_eng.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 21%;
    left: 74.9%;
    width: 8%;
    height: 11%;
    z-index: 11;
}

.blf{
    background: url(../media/IMG/start/debat_i_fra.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 21%;
    left: 85.7%;
    width: 8%;
    height: 11%;
    z-index: 11;
}

.cdb_on{
    background: url(../media/IMG/start/debat_on.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 56.4%;
    left: 88.4%;
    width: 3%;
    height: 3%;
    z-index: 11;
}

.cdb_off{
    background: url(../media/IMG/start/debat_off.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 56.4%;
    left: 88.4%;
    width: 3%;
    height: 3%;
    z-index: 11;
}

.ba_on{
    background: url(../media/IMG/start/ba_on.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 57.6%;
    width: 7%;
    height: 6%;
    z-index: 11;
}

.ba_off{
    background: url(../media/IMG/start/ba_off.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 57.6%;
    width: 7%;
    height: 6%;
    z-index: 11;
}

.bm_on{
    background: url(../media/IMG/start/bm_on.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 69.6%;
    width: 7%;
    height: 6%;
    z-index: 11;
}

.bm_off{
    background: url(../media/IMG/start/bm_off.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 69.6%;
    width: 7%;
    height: 6%;
    z-index: 11;
}

.bd_on{
    background: url(../media/IMG/start/bd_on.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 81.3%;
    width: 7%;
    height: 6%;
    z-index: 11;
}

.bd_off{
    background: url(../media/IMG/start/bd_off.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 76%;
    left: 81.3%;
    width: 7%;
    height: 6%;
    z-index: 11;
    
}

.exit_icon_ops_d {
    background: url(../media/IMG/props/exit_cros_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -120%;
    left: 89%;
    width: 6%;
    height: 8%;
    z-index: 22;
    transition: 1s;
}

.exit_icon_ops {
    background: url(../media/IMG/props/exit_cros_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 2%;
    left: 89%;
    width: 6%;
    height: 8%;
    z-index: 22;
    transition: 1s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}